* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:burlywood;
}

.container {
    width: 700px;
    margin: 90px auto;
    background-color: sandybrown;
    padding: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    width: 200px;
    padding: 50px;
    margin-bottom: 50px;
    border: 1px solid #cccccc;
    border-radius: 10px;
}

button {
    padding: 20px 30px;
    background-color: #3728a7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1e0697;
}

ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
}

li {
    padding: 10px;
    background-color:whitesmoke;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

li span {
    flex: 1;
}

li button {
    margin-left: 10px;
    background-color: #e8590c;
}

li button:hover {
    background-color: #ee6917;
}